numpy==2.4.4
scipy==1.17.1
matplotlib==3.10.8
pandas==3.0.2
h5py==3.16.0

# Quantum chemistry
pyscf==2.12.1
openfermion==1.7.1
openfermionpyscf==0.5

# Quantum computing
qiskit==2.3.1
qiskit-aer==0.17.2
qiskit-ibm-runtime==0.46.1

# Jupyter
jupyterlab==4.5.6
notebook==7.5.5
ipywidgets==8.1.8

